@import './reset.css';
@import 'primeicons/primeicons.css';

:root {
	--body-bg: var(--p-surface-50);
}

:root[class="p-dark"] {
	--body-bg: var(--p-surface-950);
}

body {
	background-color: var(--body-bg);
}
